{% extends "base.html" %}

{% block title %}Редактировать {{ todo_list.title }}{% endblock %}

{% block content %}
    <h1>Редактирование списка: {{ todo_list.title }}</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" value="{{ todo_list.title }}" class="form-control mb-2" required>
        <textarea name="description" class="form-control mb-2">{{ todo_list.description }}</textarea>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
{% endblock %}
