{% extends "base.html" %}

{% block title %}Редактировать {{ todo.title }}{% endblock %}

{% block content %}
    <h1>Редактирование задачи: {{ todo.title }}</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" value="{{ todo.title }}" class="form-control mb-2" required>
        <textarea name="description" class="form-control mb-2">{{ todo.description }}</textarea>
        <input type="date" name="due_date" value="{{ todo.due_date|date:'Y-m-d' }}" class="form-control mb-2" required>
        <label>
            <input type="checkbox" name="status" {% if todo.status %}checked{% endif %}> Завершено
        </label>
        <br>
        <button type="submit" class="btn btn-success mt-2">Сохранить</button>
    </form>
{% endblock %}
