{% extends 'base.html' %}

{% block content %}
<div class="card">
    <img src="{{ post.picture.url }}" class="card-img-top" alt="{{ post.title }}">
    <div class="card-body">
        <h1 class="card-title">{{ post.title }}</h1>
        <p class="card-text">{{ post.description }}</p>
        <p class="text-muted">Author: {{ post.author.username }}</p>
        <p class="text-muted">Thread: {{ post.thread.name }}</p>

        {% if user == post.author or user.is_superuser %}
            <div class="mt-3">
                <a href="{% url 'posts:edit' post.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'posts:delete' post.id %}" class="btn btn-danger">Delete</a>
            </div>
        {% endif %}
    </div>
</div>
<a href="{% url 'posts:list' %}" class="btn btn-secondary mt-3">Back to Posts</a>
{% endblock %}